{% extends 'shop/index.html' %}
{% load static %}

{% block content %}
        <div class="row mt-4">
            <div class="col-12">
                <div class="shadow p-2 mb-4">
                    <div class="d-flex">
                        <h3 class="me-auto fw-bold p-2">Bestellübersicht</h3>
                        <p class="p-2">AuftragsID: {{ bestellung.auftrags_id }}</p>
                    </div>

                </div>
            </div>
            <div class="col-12">
                <div class="shadow p-2 mb-4">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Nr.</th>
                            <th scope="col">Bild</th>
                            <th scope="col">Artikel</th>
                            <th scope="col">Menge</th>
                            <th scope="col">Preis</th>
                            <th scope="col">Summe</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        {% for artikel in artikels %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td><img src="{{ artikel.artikel.bild.url }}" width="50" height="50"
                                         alt="{{ artikel.name }}"></td>
                                <td>{{ artikel.artikel.name }}</td>
                                <td>{{ artikel.menge }}</td>
                                <td>{{ artikel.artikel.preis|floatformat:2 }} €</td>
                                <td>{{ artikel.get_summe|floatformat:2 }} €</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock content %}