{% extends 'shop/index.html' %}

{% block content %}
{%  if seite == 'login' %}
    
<div>
    <h2>Login</h2>
    <form method="POST" action="">
        {% csrf_token %}
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Benutzername</label>
                <input type="text" name="benutzername" class="form-control" id="exampleInputEmail1">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Passwort</label>
                <input type="password" name="passwort" class="form-control" id="exampleInputPassword1">
              </div>
              <button type="submit" class="btn btn-secondary">Login</button>
              <hr>
              <p>Noch kein Account? <a href="{% url 'reg' %}" class="link-successs">Registrieren</a></p>
    </form>
</div>
{% else %}
<div>
    <h2>Registrieren</h2>
    <form method="POST" action="">
        {% csrf_token %}
        {% for field in form %}
            <div class="mt-3 mb-2">{{  field.label }}</div>
            {{ field }}
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-secondary">Registrieren</button>
        <hr>
        <p>Bereits einen Account? <a href="{% url 'login' %}" class="link-successs">Login</a></p>
    </form>
</div>
{% endif %}
{% endblock content%}