{% load static %}

<nav class="navbar shadow sticky-top p-3 mb-4" style="background-color: #588157;">
  <div class="container-fluid">
    <a class="navbar-brand link-light" href="{% url 'shop' %}"><img src="{% static 'images/logo.png' %}" alt="Logo"></a>
      <div class="navbar-nav">
          <div class="d-flex align-items-center">
        <a class="nav-link btn btn-light p-2" href="#">Login</a>
        <a class="nav-link link-light p-2" href="{% url 'warenkorb' %}"><img src="{% static 'images/floppy.png' %}" alt="">
        <span class="badge rounded-pill bg-danger position-absolute top-25 start-25 translate-middle">3</span></a>
          </div>
      </div>
    </div>
</nav>
