{% extends 'shop/index.html' %}
{% load static %}

{% block content %}
    <div class="row row-cols-4">
        {% for artikel in artikels %}
            <div class="col mb-3">
                <div class="card" style="max-width: 25rem;">
                    <img src="{% static 'images/kopfhoerer.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ artikel.name }}</h5>
                        <p class="card-text">{{ artikel.beschreibung }}</p>
                        <div class="d-flex justify-content-between">
                            <h5 class="text-secondary">{{ artikel.preis|floatformat:2 }}€</h5>
                            <a href="#" class="btn btn-outline-danger">Bestellen</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}